.mt-10 {
  margin-top: 10px !important;
}
.cursor-pointer {
  cursor: pointer;
}
.otp-custom-input {
  width: 47px !important;
  height: 36px !important;
  height: 33px !important;
  margin-right: 20px !important;
  text-align: center !important;
}
.otp-input-container {
  display: flex;
  justify-content: center;
}

.appointment-details-row
  .appointment-detail-col-2
  .appointment-service-row
  .appointment-service-col-2
  a {
  margin-left: 10px;
}
.price-duration-section {
  display: flex;
  /* padding: 10px; */
}
.new-user-signup-form {
  background-color: #ffffff;
  background-position: top;
  background-repeat: no-repeat;
  padding: 20px 20px;
  border-radius: 0px 10px 10px 0px;
  flex-basis: 50%;
}

.react-date-picker {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.react-date-picker__wrapper {
  border: unset !important;
}

.ceEIkZ {
  border-radius: 0.25rem !important;
  border: 1px solid #ced4da !important;
}
.bcKHlz {
  border-radius: 0.25rem !important;
  border: 1px solid #ced4da !important;
}
