.mt-10 {
  margin-top: 10px !important;
}
.cursor-pointer {
  cursor: pointer;
}
.otp-custom-input {
  width: 47px !important;
  height: 36px !important;
  height: 33px !important;
  margin-right: 20px !important;
  text-align: center !important;
}
.otp-input-container {
  display: flex;
  justify-content: center;
}

.appointment-details-row
  .appointment-detail-col-2
  .appointment-service-row
  .appointment-service-col-2
  a {
  margin-left: 10px;
}
.price-duration-section {
  display: flex;
  /* padding: 10px; */
}
.new-user-signup-form {
  background-color: #ffffff;
  background-position: top;
  background-repeat: no-repeat;
  padding: 20px 20px;
  border-radius: 0px 10px 10px 0px;
  flex-basis: 50%;
}

.react-date-picker {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.react-date-picker__wrapper {
  border: unset !important;
}

.ceEIkZ {
  border-radius: 0.25rem !important;
  border: 1px solid #ced4da !important;
}
.bcKHlz {
  border-radius: 0.25rem !important;
  border: 1px solid #ced4da !important;
}

p.link-tag {
  cursor: pointer;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.active-timeslot {
  background: #acfcea !important;
  color: #1f3864 !important;
}
.appointment-detail-col-2.consent-form {
  background: white;
  padding: 60px;
}
span.checkbox-text {
  margin-left: 5px;
  font-weight: 500;
  /* font-size: 18px; */
  /* font-family: Lexend; */
}
.display-flex {
  display: flex;
}
.consent-form-container {
  padding: 43px 130px;
  background-image: url(../src/images/layer.svg);
  background-repeat: no-repeat;
  padding: 20px;
  background-size: cover;
  border-radius: 10px;
  overflow-y: auto;
}

canvas.signatureCanvas {
  border: 1px solid;
  color: black;
  margin-bottom: 10px;

  /* width: 52%; */
  /* width: 52%;
  height: 150px; */
}
.signature-pad {
  display: flex;
  justify-content: center;
}
div.signatureCanvas {
  border: 1px solid;
  color: black;
  width: 400px;
  height: 150px;
  margin-bottom: 10px;
}

.signature-container {
  text-align: center;
}

.signature-control {
  /* display: flex; */
  justify-content: center;
}

.price-lable-container {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.price-lable-container .dark {
  color: #212529;
  font-weight: 500;
}
.price-lable-container > span {
  font-weight: 500;
}
.appointment-details-row .appointment-detail-col-2 {
  max-height: unset !important;
}
