body {
    font-family: "Inter", sans-serif !important;
    font-size: 14px !important;
    color: #7d7d7d !important;
    position: relative;
    min-height: 100vh;
    background-image: url(./images/common-bg.png);
  }
  small {
    font-size: 14px !important;
  }
  ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
  }
  
  a {
    text-decoration: unset !important;
  }
  
  .float-right {
    float: right !important;
  }
  
  .text-left {
    text-align: left !important;
  }
  
  .mr-2 {
    margin-right: 10px !important;
  }
  
  .ml-2 {
    margin-left: 10px !important;
  }
  
  .pr-2 {
    padding-right: 10px !important;
  }
  
  .pl-2 {
    padding-left: 10px !important;
  }
  
  p a {
    color: #7d7d7d !important;
    text-decoration: unset !important;
  }
  p {
    color: #484848;
  }
  .text-right {
    text-align: right !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #0b0b0b;
    font-weight: 600 !important;
    font-family: "Inter", sans-serif;
    margin: 0%;
  }
  
  h1 {
    font-size: 60px;
  }
  
  h2 {
    font-size: 50px;
  }
  
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
  
  .form-control:focus {
    box-shadow: unset !important;
    border-color: #0b0b0b !important;
  }
  
  .form-select:focus {
    box-shadow: unset !important;
    border-color: #0b0b0b !important;
  }

  .btn-theme-white {
    border: 1px solid #b4b4b4 !important;
    box-sizing: border-box;
    border-radius: 0px !important;
    background-color: #ffffff !important;
    color: #0b0b0b !important;
  }
  .btn-theme-2 {
    color: #0b0b0b !important;
    background-color: #ffffff !important;
    border: 1px solid #0b0b0b !important;
  }
  
  .theme-color {
    color: #0b0b0b !important;
  }

  .btn-theme {
    border-radius: 10px !important;
    background: #131313 !important;
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
    color: #ffffff !important;
    padding: 6px 10px !important;
  }
  
  .bg-theme {
    background: #131313 !important;
    color: #ffffff !important;
  }
  .login-form {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
  }

  .register-form{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
  }
    
.home-content-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}

.home-content-row .home-content-col-1{
    flex-basis: 40%;
}

.home-content-row .home-content-col-1 h3{
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}

.home-content-row .home-content-col-1 p{
    color: #ffffff;
}

.home-content-row .home-content-col-2{
    flex-basis: 60%;
}

.home-content-row .home-content-col-2 .department-col{
    background-color: #ffffff;
    position: relative;
    margin-top: 20px;
}
.home-content-row .home-content-col-2 .department-col img{
    width: 100%;
}
.home-content-row .home-content-col-2 .department-col .department-col-content{
    padding: 20px;
}

.home-content-row .home-content-col-2 .department-col .department-col-content p{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.home-content-row .home-content-col-2 .department-col .department-col-content .font-icon-department{
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 25px;
}

.therapy-services{
    padding: 50px;
}